.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(139, 198, 139);
}
.navbar img{
    margin-left: .5rem;
    padding: 5px;
    width: 100px;
}